.App {
  padding: 10px 30px;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid black;

  .form-sign-in-up {
    display: flex;
    gap: 10px;
  }

  .logged-in-state {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.movie-list {
  padding: 50px 100px;

  .movie-item {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    max-height: 400px;
    .info {
      display: flex;
      flex-direction: column;

      .title {
        color: red;
        font-weight: 600;
      }
      .description {
        max-height: 200px;
        margin-top: 10px;
        overflow-y: auto;
      }
    }
  }
}

.share-movie {
  width: 50%;
  padding-top: 100px;
  margin: 0 auto;

  fieldset{
    padding: 20px 30px;
  }

  form{
    display: flex;
    gap: 15px;
    input{
      width: 500px;
    }
  }
}
